$mainFont: Montserrat;

$maxWidthContainer: 1562px;

$blackColor: #1e212e;
$mainOrangeColor: #ef4123;
$mainOrangeLightColor: #ffd5ae;
$mainOrangeBgColor: #fbf8ee;
$mainGreenColor: #5bba47;
$mainGreenLightColor: #beeeb3;
$mainGreenBgColor: #f2fcf0;
$mainPinkColor: #ec328c;
$mainPinkLightColor: #FFB0D6;
$mainBlueColor: #5d53f5;
$mainBlueLightColor: #c6c3fc;
$mainBlueBgColor: #f2f1fe;
$colorFont: $blackColor;
