<footer class="footer">
    <div class="footer__body">
        <div class="footer__copyright copyright">© Copyright 2023 Möbelita</div>
        <div class="footer__navigation">
            <div class="footer__number-block">01</div>
            <div class="footer__navigation-separate">/</div>
            <div class="footer__scroll-links">
                <a data-scroll="down" class="footer__scroll-link" href="#">Scroll down</a>
                <a data-scroll="up" class="footer__scroll-link is-hidden" href="#">Scroll up</a>
            </div>
        </div>
    </div>
</footer>
