<footer id="contact-us" class="section section--green footer">
    <div class="container">
        <div class="footer__circle footer__circle--orange section__circle section__circle--orange section__circle--size-35"></div>
        <div data-reverse class="footer__circle footer__circle--green-15 section__circle section__circle--light-green section__circle--size-15"></div>
        <div class="footer__circle footer__circle--green-25 section__circle section__circle--light-green section__circle--size-25"></div>
        <div class="footer__circle footer__circle--blue section__circle section__circle--blue section__circle--size-20"></div>
        <div
            data-reverse
            class="footer__circle footer__circle--green-fill section__circle section__circle--green section__circle--fill section__circle--size-10"
        ></div>
        <div class="footer__body">
            <div class="footer__content">
                <h2 class="section__title section__title--green-circle footer__title">We are looking forward to hearing from you!</h2>
                <form action="#" class="footer__form">
                    <div class="footer__form-inputs">
                        <div class="footer__form-item">
                            <input type="text" name="your-name" placeholder="Your Name" class="footer__form-input input" />
                        </div>
                        <div class="footer__form-item">
                            <input type="text" name="country" placeholder="Your Country" class="footer__form-input input" />
                        </div>
                        <div class="footer__form-item">
                            <input type="email" name="email" placeholder="Your E-mail" class="footer__form-input input" />
                        </div>
                        <div class="footer__form-item">
                            <input type="tel" name="phone" placeholder="Your Phone" class="footer__form-input input" />
                        </div>
                    </div>
                    <textarea name="message" placeholder="Your Message" class="footer__form-textarea textarea"></textarea>
                    <div class="footer__form-bottom">
                        <label class="footer__form-policy checkbox">
                            <input type="checkbox" name="policy" class="checkbox__input visually-hidden" />
                            <div class="checkbox__indicator"></div>
                            <p class="checkbox__text">I agree to the processing of personal data and agree to the <a href="#">privacy policy</a></p>
                        </label>
                        <button class="footer-form__button button">Сontact us</button>
                    </div>
                </form>
            </div>
            <div class="footer__anteater">
                <div class="footer__dialog footer__dialog--top dialog dialog--from-left">
                    <div class="dialog__quote dialog__quote--green">
                        <img data-lozad src="@img/placeholder.png" data-src="@img/icons/quotes.svg" alt="Quotes" title="Quotes" />
                    </div>
                    <p class="dialog__text">Do you have any questions? Сontact us</p>
                </div>
                <div class="footer__dialog footer__dialog--document dialog">
                    <div class="dialog__body">
                        <div class="dialog__icon dialog__icon--document">
                            <div class="dialog__icon-ibg dialog__icon-ibg--document ibg">
                                <img data-lozad src="@img/placeholder.png" data-src="@img/components/footer/document.svg" alt="Document" title="Document" />
                            </div>
                        </div>
                        <div class="dialog__content">
                            <div class="dialog__title">Сontact us</div>
                            <p class="dialog__content-text">We will answer all your questions</p>
                        </div>
                    </div>
                </div>
                <div class="anteater-circle anteater-circle--green footer__anteater-circle"></div>
                <div class="footer__anteater-image">
                    <div class="footer__anteater-image-ibg ibg">
                        <img data-lozad src="@img/placeholder.png" data-src="@img/components/footer/anteater.png" alt="Anteater" title="Anteater" />
                    </div>
                </div>
            </div>
        </div>
        <div class="footer__bottom">
            <p class="footer__copyright">© Copyright 2022 Möbelita</p>
            <div class="footer__bottom-right">
                <ul class="footer__contacts">
                    <li class="footer__contact">
                        <a href="tel:+498920175161" class="footer__contact-link">+49 89 201 75 161</a>
                    </li>
                    <li class="footer__term">
                        <a href="mailto:info@moebelita.com" class="footer__contact-link">info@moebelita.com</a>
                    </li>
                </ul>
                <ul class="footer__terms">
                    <li class="footer__term">
                        <a href="#" class="footer__term-link">Impressum</a>
                    </li>
                    <li class="footer__term">
                        <a href="#" class="footer__term-link">Privacy policy</a>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</footer>
