<header class="site-header">
    <div class="container">
        <div class="site-header__body">
            <a href="/homepage.html" class="site-header__logo">
                <div class="site-header__logo-ibg ibg">
                    <img
                        class="site-header__logo-item site-header__logo-item--black"
                        width="133"
                        height="40"
                        src="@img/logo.svg"
                        alt="Configuru Logo"
                        title="Configuru Logo"
                    />
                    <img
                        class="site-header__logo-item site-header__logo-item--white"
                        width="133"
                        height="40"
                        src="@img/logo-white.svg"
                        alt="Configuru Logo"
                        title="Configuru Logo"
                    />
                </div>
            </a>
            <nav class="site-header__menu menu">
                <div class="menu__top">
                    <div class="menu__title">Menu</div>
                    <ul class="menu__list">
                        <li class="menu__item">
                            <button type="button" class="menu__item-button">
                                Industries
                                <span class="menu__item-button-icon">
                                    <svg width="12" height="8" viewBox="0 0 12 8" fill="none" xmlns="http://www.w3.org/2000/svg">
                                        <path
                                            fill-rule="evenodd"
                                            clip-rule="evenodd"
                                            d="M0.409605 0.909574C0.735693 0.583487 1.26439 0.583487 1.59047 0.909574L6.00004 5.31914L10.4096 0.909574C10.7357 0.583487 11.2644 0.583487 11.5905 0.909574C11.9166 1.23566 11.9166 1.76435 11.5905 2.09044L6.59047 7.09044C6.26439 7.41653 5.73569 7.41653 5.40961 7.09044L0.409605 2.09044C0.0835171 1.76435 0.0835171 1.23566 0.409605 0.909574Z"
                                            fill="white"
                                        />
                                    </svg>
                                </span>
                            </button>
                            <div class="menu__submenu">
                                <button type="button" class="menu__submenu-back">
                                    <span class="menu__submenu-back-icon">
                                        <svg width="8" height="14" viewBox="0 0 8 14" fill="none" xmlns="http://www.w3.org/2000/svg">
                                            <path
                                                fill-rule="evenodd"
                                                clip-rule="evenodd"
                                                d="M7.70711 13.7071C7.31658 14.0976 6.68342 14.0976 6.29289 13.7071L0.292894 7.70711C-0.0976304 7.31658 -0.0976303 6.68342 0.292894 6.29289L6.29289 0.292893C6.68342 -0.0976316 7.31658 -0.0976315 7.70711 0.292893C8.09763 0.683417 8.09763 1.31658 7.70711 1.70711L2.41421 7L7.70711 12.2929C8.09763 12.6834 8.09763 13.3166 7.70711 13.7071Z"
                                                fill="currentColor"
                                            />
                                        </svg>
                                    </span>
                                    Back
                                </button>
                                <ul class="menu__sublist">
                                    <li class="menu__subitem">
                                        <a href="#" class="menu__sublink">Real estate</a>
                                    </li>
                                    <li class="menu__subitem">
                                        <a href="#" class="menu__sublink">Retail / Wholesale</a>
                                    </li>
                                    <li class="menu__subitem">
                                        <a href="#" class="menu__sublink">Transportation</a>
                                    </li>
                                </ul>
                            </div>
                        </li>
                        <li class="menu__item">
                            <a data-anchor href="#references" class="menu__link">References</a>
                        </li>
                        <li class="menu__item">
                            <a data-anchor href="#team" class="menu__link">Our team</a>
                        </li>
                        <li class="menu__item">
                            <a data-anchor href="#contact-us" class="menu__link">Contact us</a>
                        </li>
                    </ul>
                </div>
                <div class="menu__bottom">
                    <ul class="menu__contacts">
                        <li class="menu__contact">
                            <a href="tel:+498920175161" class="menu__contact-link">+49 89 201 75 161</a>
                        </li>
                        <li class="menu__contact">
                            <a href="mailto:info@moebelita.com" class="menu__contact-link">info@moebelita.com</a>
                        </li>
                    </ul>
                    <ul class="menu__terms">
                        <li class="menu__term">
                            <a href="#" class="menu__term-link">Impressum</a>
                        </li>
                        <li class="menu__term">
                            <a href="#" class="menu__term-link">Privacy policy</a>
                        </li>
                    </ul>
                    <p class="menu__copyright">© Copyright 2022 Möbelita</p>
                </div>
            </nav>
            <ul class="site-header__languages">
                <li class="site-header__language is-current">EN</li>
                <li class="site-header__language">
                    <a href="#" class="site-header__language-link">DE</a>
                </li>
            </ul>
            <div class="site-header__burger burger">
                <span class="burger__line"></span>
            </div>
        </div>
    </div>
</header>
