//*<Standard font>===========================================================================================

$fontfamily: Montserrat;

//*</Standard font>==========================================================================================

$maxWidthContainer: 1560px;

//*<Colors>=================================================================================================

$color__main: #EF4123;
$color__font: #1E212E;

//*</Colors>=================================================================================================
