@use "../base/globals" as *;


.site-header {
    position: fixed;
    top: 54px;
    left: 0;
    width: 100%;
    z-index: 100;

    @media (max-width: 1536px) {
        top: 16px;
    }

    @media (max-width: 768px) {
        top: 0;
    }

    &__body {
        display: flex;
        justify-content: space-between;
        gap: 16px;
        padding: 0 85px;
        position: relative;
        z-index: 2;
        transition: all 0.3s ease-in-out 0s;

        &.is-active {
            background: none;
        }

        &.is-scroll {
            background: rgb(251, 248, 238, 0.5);
            backdrop-filter: blur(6px);
        }

        @media (max-width: 1536px) {
            padding: 0 16px;
        }

        @media (max-width: 768px) {
            padding: 12px 90px;
        }

        @media (max-width: 576px) {
            padding: 8px 16px;
        }
    }

    &__logo {
        width: 154px;

        @media (max-width: 400px) {
            width: 120px;
        }

        &:not(.is-active) {
            & img {
                &:nth-child(2) {
                    display: none;
                }
            }
        }

        &.is-active {
            & img {
                &:nth-child(1) {
                    display: none;
                }
            }
        }
    }

    &__user {
        display: flex;
        align-items: center;
        gap: 120px;

        @media (max-width: 992px) {
            gap: 20px;
        }
    }

    &__languages.languages {
        display: none;

        &.is-visible {
            display: flex;
        }
    }

    &__burger {
        margin-top: 10px;

        @media (max-width: 1200px) {
            margin: 0;
        }
    }

    &__panel {
        position: fixed;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background: #1e212e;
        padding: 80px 85px 40px;
        color: #fff;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: space-between;
        gap: 22px;
        opacity: 0;
        visibility: hidden;
        transition: all 0.3s ease-in-out 0s;
        overflow-y: auto;
        overflow-x: hidden;

        @media (max-width: 768px) {
            padding: 76px 87px 16px 90px;
        }

        @media (max-width: 576px) {
            padding-left: 16px;
            padding-right: 16px;
        }

        &.is-active {
            opacity: 1;
            visibility: visible;
        }
    }

    &__company.company {
        font-size: rem(360);
        top: 37.6%;
        left: 6.2%;
        opacity: 0.02;

        @media (max-width: 1536px) {
            font-size: rem(300);
        }

        @media (max-width: 1330px) {
            font-size: rem(250);
            top: 50%;
            transform: translate(0, -50%);
        }

        @media (max-width: 1200px) {
            display: none;
        }
    }

    &__bottom {
        width: 100%;
        display: flex;
        align-items: center;
        justify-content: space-between;
        gap: 16px;

        @media (max-width: 1200px) {
            flex-wrap: wrap;
        }

        @media (max-width: 992px) {
            display: none;
        }
    }

    &__contacts {
        margin-left: -86px;

        @media (max-width: 1200px) {
            justify-content: center;
            margin: 0;
            width: 100%;
            order: 3;
        }
    }

    &__copyright {
        @media (max-width: 1200px) {
            order: 1;
        }
    }
}

.burger {
    cursor: pointer;
    display: flex;
    gap: 11px;

    &.is-active {
        color: #fff;
        align-items: center;

        & .burger__btn {
            width: 30px;
            height: 30px;
        }

        & .burger__text {
            font-size: rem(13);
            line-height: toProcent(13, 16);

            @media (max-width: 768px) {
                display: none;
            }
        }

        & .burger__line {
            background: #fff;

            &:first-child {
                top: 50%;
                transform: rotate(45deg) translate(0, -50%);
            }

            &:last-child {
                bottom: 50%;
                transform: rotate(-45deg) translate(0, 50%);
            }

            &:nth-child(2) {
                transform: scale(0);
            }
        }
    }

    &.is-white {
        color: #fff;

        & .burger__line {
            background: #fff;
        }
    }

    &:hover {
        .burger__line {
            background: $color__main;
            &:nth-child(2) {
                width: 100%;
            }
        }

        .burger__text {
            color: $color__main;
        }
    }

    &__text {
        font-weight: 600;
        font-size: rem(17);
        line-height: toProcent(17, 21);
        transition: all 0.3s ease-in-out 0s;

        @media (max-width: 768px) {
            font-size: rem(17);
            line-height: toProcent(17, 21);
        }
    }

    &__btn {
        width: 40px;
        height: 26px;
        position: relative;
        transition: all 0.3s ease-in-out 0s;
    }

    &__line {
        position: absolute;
        left: 0;
        width: 100%;
        height: 2px;
        background: #1e212e;
        border-radius: 1px;
        transition: all 0.3s ease-in-out 0s;

        &:first-child {
            top: 0;
        }

        &:nth-child(2) {
            top: 50%;
            left: auto;
            right: 0;
            width: 50%;
            transform: translate(0, -50%);
        }

        &:last-child {
            bottom: 0;
        }
    }
}

.menu {
    margin-top: auto;
    margin-bottom: auto;

    @media (max-width: 768px) {
        margin-top: 142px;
    }

    &__list {
        display: flex;
        flex-direction: column;
        flex-wrap: wrap;
        gap: 92px;

        @media (max-width: 768px) {
            gap: 80px;
        }
    }

    &__item {
        font-weight: 700;
        font-size: rem(45);
        line-height: toProcent(45, 55);

        @media (max-width: 992px) {
            font-size: rem(32);
            line-height: 150%;
        }

        @media (max-width: 768px) {
            font-size: rem(25);
            line-height: toProcent(25, 30);
        }

        @media (max-width: 400px) {
            font-size: rem(18);
            line-height: 150%;
        }

        &:hover {
            color: $color__main;
        }
    }

    &__link {
        display: block;
        color: inherit;
        padding-left: 139px;

        @media (max-width: 768px) {
            padding-left: 80px;
        }

        &::after,
        &::before {
            top: 50%;
            transform: translate(0, -32%);
            font-weight: 600;
            font-size: rem(20);
            line-height: toProcent(20, 24);
            transition: all 0.3s ease-in-out 0s;

            @media (max-width: 768px) {
                transform: translate(0, -45%);
                font-size: rem(15);
                line-height: toProcent(15, 18);
            }
        }

        &::before {
            content: "0" counter(counter);
            position: absolute;
            left: 0;
        }

        &::after {
            content: "/";
            position: absolute;
            top: 50%;
            left: 74px;

            @media (max-width: 768px) {
                left: 45px;
            }
        }
    }
}
