@use "../../base/globals" as *;

.company {
    position: absolute;
    font-weight: 800;
    line-height: 121%;
    opacity: 0.3;

    & br {
        @media (min-width: 992px) {
            display: none;
        }
    }

    @media (max-width: 1536px) {
        font-size: rem(200);
    }

    @media (max-width: 1330px) {
        font-size: rem(200);
        top: 50%;
        transform: translate(0, -50%);
    }

    @media (max-width: 1200px) {
        font-size: rem(162) !important;
        line-height: toProcent(162, 109) !important;
        text-align: center;
    }

    @media (max-width: 450px) {
        font-size: rem(100) !important;
    }
}
